/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
html,
body {
    font-family: "Roboto", sans-serif;
}
.wholePage {
    padding: 2.5%;
    background-color: darkgreen;
}
.nextRectangle {
    padding: 3% 8%;
    background-color: #fff;
}
h1 {
    text-align: center;
    color: green;
    font-size: 4rem;
    padding: 4% 0 5%;
}
.topSection {
    padding: 3% 6%;
    background-color: #794579;
    color: white;
    font-size: 2rem;
}
.topSection:hover {
    background: lightgreen;
    color: darkslategrey;
}
.topSection p {
    padding: 10% 1%;
}
.titleSection {
    padding: 10% 15%;
    color: lightgreen;
    background-color: darkgreen;
}
.titleSection:hover {
    color: darkgreen;
    background: lightgreen;
}
.titleSection h2 {
    font-size: 3rem;
    padding: 3% 0;
}
.titleSection p {
    font-size: 1.8rem;
    line-height: 125%;
}
.anotherSection {
    padding: 3% 0;
    margin-bottom: 5%;
    color: purple;
}
.anotherSection h3 {
    font-size: 3.5rem;
    padding: 5% 0;
    text-transform: uppercase;
}
.anotherSection h3:hover {
    color: red;
    text-transform: capitalize;
}
.anotherSection p {
    font-size: 2rem;
    line-height: 150%;
}
.anotherSection p:hover {
    color: red;
}
.images {
    display: flex;
    justify-content: space-between;
}
.images img {
    border: dotted 5px white;
}
.images img:hover {
    border: dotted 5px green;
}
